<%- include('./partials/banner'); %>
    
<div class="container"><p class="text-center font-weight-bold my-4">Welcome to the<br />Lindora Daily Action Planner<br />and Progress Tracker</p></div>

<div class="container user-group">
  <a class="btn btn-outline-primary btn-block" href="/login">Login</a>
  <a class="btn btn-outline-secondary btn-block" href="/register">Create an Account</a>
</div>
     
<%- include('./partials/footnote'); %>